* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Quicksand", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
  transition: transform 0.5s ease-in-out;
  border-top: 1rem solid rgb(30, 141, 104);
  border-top: 1rem solid rgb(141, 30, 30);
}

.container.advance {
  transform: translateY(29vh);
}

h1 {
  margin-top: 1.5rem;
  color: rgb(30, 141, 104);
  color: rgb(141, 30, 30);
  border-bottom: 1px solid rgb(30, 141, 104);
  border-bottom: 1px solid rgb(141, 30, 30);
  padding: 1rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
  margin-bottom: 2.5rem;
}

form .form-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

form .form-box input[type="text"] {
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  width: 15rem;
  font-size: 0.9rem;
  border: 1px solid rgb(30, 141, 104);
  border: 1px solid rgb(141, 30, 30);
  border-radius: 5px;
}

form .form-box select {
  position: relative;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  width: 12rem;
  font-size: 0.9rem;
  border: 1px solid rgb(30, 141, 104);
  border: 1px solid rgb(141, 30, 30);
  border-radius: 5px;
}

form .form-box input[type="range"] {
  -webkit-appearance: none;
  height: 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
  width: 10rem;
  height: 0.5rem;
  background-color: #7e7e7e;
  cursor: pointer;
}
form .form-box .priority-level {
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid #7e7e7e;
  color: rgb(30, 141, 104);
  color: rgb(141, 30, 30);
}

form .form-box input[type="range"]:focus {
  outline: none;
}

form .form-box input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: rgb(30, 141, 104);
  background-color: rgb(141, 30, 30);
  border-radius: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border: none;
}

form .form-box input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: rgb(30, 141, 104);
  background-color: rgb(141, 30, 30);
  border-radius: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border: none;
}

form button.add-book {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  width: fit-content;
  border: none;
  background: rgb(24, 112, 83);
  background: rgb(141, 30, 30);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: rgb(24, 112, 83);
  background: rgb(112, 24, 24);
}

table {
  border-collapse: collapse;
  font-size: 1rem;
  min-width: 500px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

table thead tr {
  color: white;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  position: relative;
  padding: 1rem 2rem;
}

table tr th {
  cursor: pointer;
  background: rgb(30, 141, 104);
  background: rgb(141, 30, 30);
}

table tr th.delete-column {
  background: transparent;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: all 0.25s ease-in-out;
}

table tbody tr.active {
  background-color: rgb(30, 141, 104) !important;
  background-color: rgb(141, 30, 30) !important;
  color: white;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(30, 141, 104);
  border-bottom: 2px solid rgb(141, 30, 30);
}

th.sort-asc,
th.sort-desc {
  background-color: rgb(24, 114, 84);
  background-color: rgb(114, 24, 24);
}

th.sort-asc::after {
  content: "\f106";
}

th.sort-desc::after {
  content: "\f107";
}

th.sort-asc::after,
th.sort-desc::after {
  font-family: "Font Awesome 5 Free";
  margin-left: 5px;
}

button:focus {
  outline: none;
}

button.delete-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(2.5rem, -50%);
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background: none;
  color: rgb(30, 141, 104);
  color: rgb(141, 30, 30);
  display: none;
}

button.delete-btn.active {
  display: block;
}

button.delete-btn:focus {
  outline: none;
}

button.delete-btn .fa-times {
  pointer-events: none;
}

.advanced {
  height: 30vh;
  width: 100%;
  position: absolute;
  background: rgb(30, 141, 104);
  background: rgb(141, 30, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: none;
  transform: translateY(-30vh);
  transition: all 0.5s ease-in-out;
  color: white;
}

.advanced.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.advanced-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(30, 141, 104);
  color: rgb(141, 30, 30);
  font-size: 1.5rem;
  margin: 0.25rem;
  transition: transform 0.5s ease;
}

.advanced-btn:focus {
  outline: none;
}

.advanced-btn:hover {
  transform: scale(1.1);
}

.advanced-btn i {
  pointer-events: none;
}

form .form-box select.filter-option {
  width: 7.5rem;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  color: white;
}

.stat-box h1 {
  font-size: 1.8rem;
  color: white;
  margin-top: 1rem;
  border-color: white;
  padding: 0.8rem;
}

.statistics {
  display: flex;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
